
@{
    ViewBag.Title = "Submit";
    var user = ViewBag.User as OrangeTaskMVC.Controllers.UserData;
}

<div class="container">
    <h2>Submit</h2>
    <h6>Username: @user.Name</h6>
    <h6>Email: @user.Email</h6>
    <h6>Phone: @user.Phone</h6>
    <h6>Gender: @user.Gender</h6>
    <h6>Country: @user.Country</h6>


</div>
